---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Galeria">
    <div class="grid  grid-cols-2 ">
        <a href="https://vulcanospizza.mx/" target="_blank">
            <img class="rounded-3xl mx-20  " src="https://stevenroldanre.github.io/LPage/images/gallery-img1.jpg" alt="">

        </a>

        <a href="https://www.instagram.com/sukidaigdl/" target="_blank">

            <img class="rounded-3xl " src="https://stevenroldanre.github.io/LPage/images/gallery-img2.jpg" alt="">
        </a>
        
        

    </div>
</Layout>