---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Restaurantes GDL.">
	<h2 class="text-5xl text-white text-center">Descubre nuevos restaurantes</h2>
	<p class="text-2xl text-white text-center my-4">Comida rapida, comida China, Méxicana, Italina y mas....</p>
</Layout>
