---
console.log('Hello World');
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div>
        <h1 class="text-6xl font-bold text-white">Restaurante</h1>

        <h2 class="font-light text-white sm:text-xl ">Mejores restaurantes</h2>
        <button></button>
        <button></button>
        <button></button>
        <a href="
        " class="i"></a><a href="" class="i"></a><a href="" class="i"></a>
    </div>
</header>